# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
ca-certificates           2022.3.29            haa95532_1
certifi                   2021.10.8        py38haa95532_2
click                     8.1.2                    pypi_0    pypi
colorama                  0.4.4                    pypi_0    pypi
flask                     2.1.1                    pypi_0    pypi
gunicorn                  20.1.0                   pypi_0    pypi
importlib-metadata        4.11.3                   pypi_0    pypi
itsdangerous              2.1.2                    pypi_0    pypi
jinja2                    3.1.1                    pypi_0    pypi
joblib                    1.1.0                    pypi_0    pypi
markupsafe                2.1.1                    pypi_0    pypi
numpy                     1.22.3                   pypi_0    pypi
openssl                   1.1.1n               h2bbff1b_0
pandas                    1.4.2                    pypi_0    pypi
pip                       21.2.2           py38haa95532_0
python                    3.8.13               h6244533_0
python-dateutil           2.8.2                    pypi_0    pypi
pytz                      2022.1                   pypi_0    pypi
scikit-learn              1.0.2                    pypi_0    pypi
scipy                     1.8.0                    pypi_0    pypi
setuptools                61.2.0           py38haa95532_0
six                       1.16.0                   pypi_0    pypi
sklearn                   0.0                      pypi_0    pypi
sqlite                    3.38.2               h2bbff1b_0
threadpoolctl             3.1.0                    pypi_0    pypi
vc                        14.2                 h21ff451_1
vs2015_runtime            14.27.29016          h5e58377_2
werkzeug                  2.1.1                    pypi_0    pypi
wheel                     0.37.1             pyhd3eb1b0_0
wincertstore              0.2              py38haa95532_2
zipp                      3.8.0                    pypi_0    pypi